-r requirements.txt

# Testing
pytest==8.4.2
pytest-cov==5.0.0

# Linting & formatting
ruff==0.12.9
flake8==7.3.0
black==25.1.0

# Static typing
mypy==1.17.1
types-Flask-Cors
types-Flask
types-psycopg2